/* General Demo Style */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);



@font-face {

	font-family: 'codropsicons';

	src:url('../fonts/codropsicons/codropsicons.eot');

	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),

		url('../fonts/codropsicons/codropsicons.woff') format('woff'),

		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),

		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');

	font-weight: normal;

	font-style: normal;

}




*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body, html { font-size: 100%; padding: 0; margin: 0;}



.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }



body {
	color: #b3b9bf;
	font-family: 'WorkSans';
}

a {
	color: #888;
	text-decoration: none;
}

a:hover,

a:active {
	/*color: #333;*/
	color: #23527c;
}

/* Header Style */

.container > header {
	margin: 0 auto;
	padding: 69px;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 3em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
	color: #333;
}

h2 span,

.container > header h1 span {
	font-family: 'WorkSans';
}

/* To Navigation Style */

.codrops-top {

	background: #fff;

	background: rgba(255, 255, 255, 0.6);

	text-transform: uppercase;

	width: 100%;

	font-size: 0.69em;

	line-height: 2.2;

}



.codrops-top a {

	padding: 0 1em;

	letter-spacing: 0.1em;

	color: #888;

	display: inline-block;

}



.codrops-top a:hover {

	background: rgba(255,255,255,0.95);

	color: #333;

}



.codrops-top span.right {

	float: right;

}



.codrops-top span.right a {

	float: left;

	display: block;

}



.codrops-icon:before {

	font-family: 'codropsicons';

	margin: 0 4px;

	speak: none;

	font-style: normal;

	font-weight: normal;

	font-variant: normal;

	text-transform: none;

	line-height: 1;

	-webkit-font-smoothing: antialiased;

}



.codrops-icon-drop:before {

	content: "\e001";

}



.codrops-icon-prev:before {

	content: "\e004";

}



.codrops-icon-archive:before {

	content: "\e002";

}



.codrops-icon-next:before {

	content: "\e000";

}



.codrops-icon-about:before {

	content: "\e003";

}



/* Demo Buttons Style */

.codrops-demos {

	padding-top: 1em;

	font-size: 0.9em;

}



.codrops-demos a {

	display: inline-block;

	margin: 0.5em;

	padding: 0.7em 1.1em;

	border: 3px solid #b3b9bf;

	color: #b3b9bf;

	font-weight: 700;

}



.codrops-demos a:hover,

.codrops-demos a.current-demo,

.codrops-demos a.current-demo:hover {

	border-color: #2c3f52;

	color: #2c3f52;

}

@media screen and (max-width: 25em) {

	.codrops-icon span {

		display: none;

	}

}

.gray{
	margin-top: 10px;
}
footer {
	margin: 40px 0 80px 0;
	margin-bottom: 25px!important;
}
.container ul.grid li figure img { width: 320px; height:213px;  }

/*STYLE LANDING PAGE*/

* {
	font-family: "OpenSans", sans-serif;
}

body {
	margin:0;
	padding:0;
}

a {
	text-decoration: none;
}

.slogan h1 {
	margin: 1em 0 0 0;
	color: #4a4a4a;
	font-weight: bold;
	font-size: 2.4em;
	margin-bottom: 20px;
}

.slogan {
	font-family: 'Ubuntu',sans-serif;
	text-align: center;
	color: rgba(0,0,0,0.5);
	margin: 80px auto;
	margin-bottom:50px;
}

.slogan p {
	color: rgba(0,0,0,0.6);
	font-size: 22px;
	line-height: 1.5em;
	font-weight: normal;
}

.bgk_top{
	background-color: #34495D;
	box-sizing: border-box;
	height:60px;
	width:100%;
	padding: 0 6%;
}

.logo{
	float: left;
	line-height: 60px;
}

.logo a{
	color: white;
	font-family: "OpenSans", sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: normal;
}

.login{
	float: right;
	line-height: 60px;
}

.btn_login{
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 6px 12px;
}

.btn_login:hover{
	opacity: 0.7;
}

.btn_login a{
	color: white;
	font-size: 14px;
	padding: 6px 0px;
}

.copyright {
	font-size: 16px;
}

.container ul.grid li figure img{
	width:100%;
	height: 213px;
}

/*  LOGIN   */
.dropbtn img {
	width: 32px;
	border-radius: 50%;
}

.ul_login li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 9px 0px;
	text-decoration: none;
	font-size: 14px;
}

.ul_login li.dropdown {
	display: inline-block;
	float: left;
}

ul {
	list-style-type:none;
}

.ul_login .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	top: 55px;
	right: 18px;
}

.ul_login .dropdown-content a:hover {background-color: #4092cc;}
.ul_login .dropdown-content a {
	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
	background-color: #34495D;
	border-top: 1px solid #f4f4f4;
	margin: 0;
	padding: 6px 10px;
	min-width: 160px;
	line-height: 20px;
	font-size: 14px!important;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.logged {
	padding: 0;
	border: none;
	padding-top: 3px;
}

.cs-style-3 figcaption {
	background-color: rgba(0, 0, 0, 0.7)!important;
}

/********************************************/
/********************************************/
		/********RESPONSIVE **********/
/********************************************/
/********************************************/

@media only screen and (max-width: 767px) {
	.ul_login .dropdown-content{
		top: 60px;
		right:0;
	}

	.dropdown-content{
		display: none!important;
	}

	.dropdown-content.active{
		display: block!important;
	}

	.btn_login:hover{
		opacity:1;
	}

}

@media only screen and (min-width:320px) and (max-width: 564px )  {
	.bgk_top {
		padding: 0 5.3%!important;
	}

	.slogan{
		padding:0 10px;
		margin-bottom: 50px;
	}

	footer {
		margin: 30px 0!important;
	}
	.container ul.grid li figure img{
		min-height: 200px;
	}
}


@media only screen and (min-width:348px) and (max-width: 446px )  {

}

@media only screen and (min-width:320px) and (max-width: 348px )  {
	.bgk_top {
		padding:0 30px;
	}
	.logo a{
		font-size: 14px;
	}
	.slogan h1{
		margin:0;
		margin-bottom: 20px;
		font-size: 25px;
	}
	.slogan p{
		font-size: 18px;
	}

	.slogan {
		margin: 50px 0 20px 0;
	}
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
	.container ul.grid li figure img{
		width:100%;
		height:auto!important;
		min-height: 200px;
	}
	.grid li{
		max-width: 100% !important;
	}
}